.plot-containerhc
{
  border-radius: 20px;
  background-color: white;
  padding: 40px;
  width: 100%;
  margin: 20px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}